body {
    background-color: #f3f2ef;
}
.post-title {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.post-full-content-text{
    font-style: italic;
    padding-left: 20px;
    text-wrap: normal;
}

.post-meta {
    padding-left: 10px;
}

.post-author {
    font-weight: bold;
    font-style: italic;
}
.body-content {
    margin-bottom: 100px;

}

/*Like bar */
.like-bar {

    float: right;
}

.like-bar__container {
    display: flex;
    margin: 15px;
    background-color: whitesmoke;
    border: #2e2e2e 3px solid;

}
.like-bar__number {

    padding: 7px 15px 0 2px;
    font-size: 22px;

}

.like-bar__like-button {
    padding: 9px 1px 0 0;
}