body {
    background-color: #f3f2ef;
}
.logged-in-message{
    width: 100%;
    height: auto;
    color: darkmagenta;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 20px 5px 20px 5px;

}
.post__container {

    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
}
.post-title {
    padding: 20px;
}
.post-preview-content-text{
    font-style: italic;
    padding-left: 30px;
    padding-right: 30px;
}

.post-author {
    font-weight: bold;
    font-style: italic;
}
.post-meta{
    padding-left: 20px;
}

.body-content {

    margin-bottom: 100px;
}
.userName{
    padding-left: 5px;
}
#loginPrompt {
    color: darkorange;
}

/*Like bar */
.like-bar {

    float: right;
}

.like-bar__container {
    display: flex;
    margin: 15px;
    background-color: whitesmoke;
    border: #2e2e2e 3px solid;

}
.like-bar__number {

    padding: 7px 15px 0 2px;
    font-size: 22px;

}

.like-bar__like-button {
    padding: 9px 1px 0 0;
}