body {
    background-color: #f3f2ef;
}
.header-message {
    width: 100%;
    height: auto;
    color: darkmagenta;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
}

.preach-form {
    height: auto;
    display: flex;
    justify-content: center;
    padding: 100px;
}
