.body-content {
  margin-top: -20px;
  display: flex;
  background-color: #f3f2ef;
}
.body-content__sidebar {
  position: sticky;
  top: 80px;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: max-content;
}

.sidebarTop_avatar-icon{
  margin-bottom: 10px;
}


.sidebar__sidebarTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}
.sidebar__sidebarTop__head-splasher{
  margin-bottom: -33px;
  width: 100%;
  height: 60px;

}
.sidebar__sidebarBottom {
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
 }
.sidebar__sidebarBottom__label {
    color: darkorange;
    margin-bottom: 10px;
}
.sidebar__bottom__option-links{
    color: black;
    margin-bottom: 5px;
}

/*feed*/

.body-content__feed {
    flex: 0.8;
    margin: 0 20px;
}

/*feed post header*/

.post__container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.feed__post-header-title {
    flex:0.8;

}
.feed__post-header-action-buttons {
    flex:0.2;
    display: flex;
}
.action__buttons {
    align-items: center;
    padding: 10px;
}

/*feed post contents*/
.post__container {

    width: 100%;
    padding: 30px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.post-title{
    padding-left: 10px;

}
.post-preview-content-text{
    font-style: italic;
    padding: 0 40px 0 40px;
}
.post-author {

    font-weight: bold;
    font-style: italic;
}

.post-meta{
    padding-left: 10px;
}
.userName{
    padding-left: 5px;
}

