<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmls:layout="jttps://www.utlraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/postBlog.css" th:href="@{/css/postBlog.css}">
    <link rel="stylesheet" type="text/css" href="https://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
</head>
<body>
    <div layout:fragment="content">
        <div class="postBlogContent">
            <div class="content__welcome-message">
                <h1 class="header-message" th:text="${headerText}">This is the home page</h1>
            </div>
            <div class="preach-form">
                <div class="container">
                    <form action="#" th:action="@{doPost}" th:object="${blogPost}" method="post">
                        <div class="row">
                            <div class="form-group">
                                <input class="form-control" type="text" id="blog-title" th:field="*{title}" placeholder="Title">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <textarea class="form-control" type="text" rows="12" id="preview-text" th:field="*{contentPreview}" placeholder="Preview Text"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <textarea class="form-control" type="text" rows="20" id="full-text" th:field="*{fullContent}" placeholder="Full Text"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Preach</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>