<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmls:layout="jttp://www.utlraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
  <head>
    <meta charset="UTF-8">
    <title>Register User</title>
	
	
  </head>
  <body>
	
  	<div layout:fragment="content">
  	
  		<div align="center">
			<h2 th:text="${message1}">Welcome to bla</h2>
			<h2 th:text="${message3}">Welcome to bla</h2>
			<h3 th:text="${message2}">Heebee Jeebee</h3><br/>

			<form action="#" th:action="@{doRegister}" th:object="${userModel}" method="post">
				<table>
					<tr>
						<td>First Name:</td><td><input type="text" th:field="*{userFirstName}" ></td>
					</tr>
					<tr>
						<td>Last Name:</td><td><input type="text" th:field="*{userLastName}" ></td>
					</tr>
					<tr>
						<td>Email:</td><td><input type="text" th:field="*{userEmail}" ></td>
					</tr>
					<tr>
						<td>Username:</td><td><input type="text" th:field="*{userName}" ></td>
					</tr>

					<tr>
						<td>Password:</td><td><input type="text" th:field="*{userPassword}" ></td>
					</tr>
					<tr>
						<td>Re-Enter Password:</td><td><input type="text"></td>
					</tr>
					<tr>
						<td>Phone Number:</td><td><input type="text" th:field="*{userPhoneNumber}" ></td>
					</tr>
					<tr>
						<td>Address:</td><td><input type="text" th:field="*{userAddress1}" ></td>
					</tr>
					<tr>
						<td>Address 2:</td><td><input type="text" th:field="*{userAddress2}" ></td>
					</tr>
					<tr>
						<td>City:</td><td><input type="text" th:field="*{userCity}" ></td>
					</tr>
					<tr>
						<td>State:</td><td><input type="text" th:field="*{userState}" ></td>
					</tr>
					<tr>
						<td>Zip Code:</td><td><input type="text" th:field="*{userZip}" ></td>
					</tr>
					<tr>
						<td align="center "colspan="2"><input type="submit" value="Sign Up" style="margin-top: 20px;"/></td>
					</tr>
				</table>
				<div th:if="${#fields.errors('*')}">
					<div th:each="err : ${#fields.errors('*')}">
						<span style="color:red" th:text="${err}" class="fieldError"></span>
					</div>
				</div>
				
			</form>
		
		</div>
  	</div>
	
	

  </body>
</html>

